<div class="row">
    <div class="col s3"></div>
        <div class="col s6">
        <div class="row">
            <div class="col s12">
                <p style="margin-bottom: 10%"></p>
                <div class="card">                            
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" ng-submit="registerUser()">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="email" type="text" ng-model="user.email" required>
                                    </div>                                            
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="password" type="password" ng-model="user.password" required>
                                    </div>                                            
                                </div>
                                <input type="submit"                                     
                                    class="col s12 waves-effect waves-light btn pink purple darken-4">                                    
                            </form>
                        </div>
                    </div>
                    <div class="card-action center">
                        <p>Already have account? <a href="#login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s3"></div>
</div>